{% extends "base.html" %}

{% block body %}
    {% if validlink %}
        <form action="" method="post" class="form-area">
            {% csrf_token %}
            <table border="0" class="django-as-table">{{ form.as_table() }}</table>
            <hr>
            <button style="float:right;" type="submit">{{ _('Reset Password') }}</button>
            {% if form.captcha %}
            <div style="margin-top: 0.5em">{{ form.captcha }}</div>
            {% if form.captcha.errors %}
                <div class="form-field-error">{{ form.captcha.errors }}</div>
            {% endif %}
            {% endif %} 
        </form>
    {% else %}
        <p>{{ _('Invalid password reset link.') }}</p>
    {% endif %}
{% endblock %}
