{% extends "blog/list.html" %}

{% block before_posts %}
<!-- Bảng mô tả -->
<div class="home-description sidebox">
    <h3>{{ _("Welcome to") }} {% if site_config and site_config.site_name %}{{ site_config.site_name }}{% else %}FPT -
        Online Judge{% endif %}!
        <i class="fa fa-globe"></i>
    </h3>
    <div class="sidebox-content">
        <section class="sticky post" style="margin: 0.5em 1.4em;">
            {% if site_config and site_config.welcome_message %}
            {{ site_config.welcome_message|markdown }}
            {% else %}
            <p>
                {{ _("This is a place to share knowledge about programming, algorithms, and competitive programming. Explore interesting problems and discuss with the community!") }}
            </p>
            <p>
                - 🌟 {{ _("Learn algorithms through practical problems.") }} <br>
                - 🏆 {{ _("Participate in programming contests.") }} <br>
                - 📚 {{ _("Share experiences and problem-solving tips.") }} <br>
            </p>
            <p>
                {{ _("Get started by") }} <a href="/problems/">{{ _("browsing the problem list") }}</a> {{ _("or") }} <a href="/contests/">{{ _("joining a contest") }}</a>!
            </p>
            {% endif %}
        </section>
    </div>
</div>

<!-- Nội dung top của trang chủ -->
{% if misc_config.home_page_top %}
{{ render_django(misc_config.home_page_top, request=request, user_count=user_count, problem_count=problem_count,
submission_count=submission_count, language_count=language_count, perms=perms) }}
{% endif %}
{% endblock %}


{% block meta %}
{% if misc_config.meta_description %}
<meta name="description" content="{{ misc_config['meta_description'] }}">
{% endif %}
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "url": "{{ DMOJ_SCHEME }}://{{ site.domain }}/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ DMOJ_SCHEME }}://{{ site.domain }}/problems/?search={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
{% endblock %}